* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

:root {
  --dark-gray: #1d1d1d;
  --light-blue: #b9faf7;
  --light-yellow: #f8e4ab;
  --light-gray: #b5b5b5;
  --cta-blue: #6497f5;
  --cta-light: #a0bef5;
}

h5 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.darkBg {
  background-color: var(--dark-gray);
}

.blueBg {
  background-color: var(--light-blue);
}

.navbar {
  background-color: var(--light-gray);
  width: 100%;
  position: absolute;
  z-index: 1;
}

/* General section */
section {
  width: 100%;
  height: 100hv;
}

/* Hero */

.heroSec {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--light-blue);
  overflow: hidden;
}

.triangleOne {
  position: absolute;
  bottom: -100%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--dark-gray);
  transform: skewY(-15deg);
  transform-origin: top left;
}

.triangleTwo {
  position: absolute;
  bottom: -100%;
  right: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--dark-gray);
  transform: skewY(15deg);
  transform-origin: top right;
}

/* inner section */

.descSec {
  width: 100%;
  height: auto;
  padding: 200px 0;
}

.mdImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
