* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

:root {
  --dark-gray: #1d1d1d;
  --light-blue: #b9faf7;
  --light-yellow: #f8e4ab;
  --light-gray: #b5b5b5;
  --cta-blue: #6497f5;
  --cta-light: #a0bef5;
}

h2 {
  font-size: 2.1rem;
  font-weight: 300;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.9rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.darkBg {
  background-color: var(--dark-gray);
}

.blueBg {
  background-color: var(--light-blue);
}

.index-navbar {
  background-color: var(--light-gray);
  width: 100%;
  position: absolute;
  z-index: 1;
}

/* General section */
section {
  width: 100%;
  height: 100vh;
}

/* Hero */

.heroSec {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--light-blue);
  overflow: hidden;
}

.triangleOne {
  position: absolute;
  bottom: -100%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--dark-gray);
  transform: skewY(-15deg);
  transform-origin: top left;
}

.triangleTwo {
  position: absolute;
  bottom: -100%;
  right: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--dark-gray);
  transform: skewY(15deg);
  transform-origin: top right;
}

/* inner section */

.descSec {
  width: 100%;
  height: auto;
  padding: 200px 0;
}

.mdImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

footer .links a:hover {
  text-decoration: none;
}

.logo-brand a {
  text-decoration: none;
}

a .footerLogo {
  font-size: 3rem;
}

footer i.fa {
  font-size: 2rem;
}

footer i:hover {
  color: var(--light-blue);
}

/* .main {
  height: 100vh;
} */

/* Sidebar */

.sidebar-link-group h5 {
  font-weight: 500;
}

.sidebar-link-group ul li a {
  text-decoration: none;
  color: var(--dark-gray);
  font-size: 1rem;
}

.side-bar {
  max-width: 180px;
  max-height: 100vh;
}

.bd-links {
  padding: 1rem 0;
  margin-right: -15px;
  margin-left: -15px;
}

/* main content */

main {
  border: 1px solid rgb(235, 235, 235);
  border-top: none;
  border-bottom: none;
  height: auto;
}

i.icon-jumbo {
  font-size: 10rem;
  color: rgb(255, 136, 0);
}

/* code example */

.example-code span {
  font-size: 0.8rem;
}

.tag-name-color {
  color: var(--cta-blue);
}

.tag-color {
  color: var(--light-gray);
}

.attribute-color {
  color: var(--cta-light);
}
